/* Inserta tu codigo aqui */
/*Header*/
header {
	background-color: rgb(21, 19, 25);
}

.flatness {
	width: 50%;
	height: 50%
}

nav {
	margin-top: 15px
}

li {
	display: inline;
}

li a {

	text-decoration: none;
	color: white;
	font-family: "open sans";
	padding: 10px;
	text-align: right;
}

/*section*/
section {
	background-color: rgb(33, 30, 39);
}

.spring {
	background-image: src:;
}

/* Responsive */

@media screen and (max-width : 920px) {

}

@media screen and (max-width: 600px) {

}
